/* Blog.module.css */
.blogContainer {
  padding: 10vw;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #e8a634 !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 8px;
}

.blogGrid {
  display: flex;
  justify-content: space-between;
}

.blogCard {
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  width: 350px;
  text-align: left;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blogImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.date {
  color: #d09423;
  font-weight: bold;
}

.author {
  font-weight: bold;
}

.blogTitle,
.blogPara {
  padding-inline: 15px;
}
