.cartHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #2d5356;
}

.cartHeader h2 {
  color: #ffffff;
}

.cartContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 10vw;
  margin-top: 8vh;
}

.tableContainer {
  flex: 1;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.tableRowHeader {
  background-color: #2d5356;
}

.tableCellHeader {
  color: #fff !important;
  text-align: center !important;
  width: 100% !important;
}

.tableRowBody {
  background-color: #f5f5f5;
}

.centeredButtonCell {
  display: flex;
  justify-content: center;
}

.circularButton {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-width: 0 !important;
  background-color: #f9f9f9;
}

.circularButton:hover {
  background-color: #e0e0e0;
}

.circularButton:disabled {
  opacity: 0.5;
}

.btnRemove {
  border-radius: 4px !important;
  padding: 5px 10px !important;
  cursor: pointer !important;
}
