.categories {
  display: flex;
  padding-inline: 10vw;
  justify-content: space-between;
  padding-top: 80px;
  align-items: center;
}
.btn {
  background-color: #d09423 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  overflow: visible !important;
  border: none !important;
  white-space: nowrap !important;
}

/*  */

.categories {
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  background-color: #008080;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.btn:hover {
  background-color: #006666;
}

.testimonial-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.testimonial-card {
  scroll-snap-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.testimonial-card.active {
  display: flex;
}

.testimonial-card img {
  border-radius: 8px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.testimonial-card .text-container {
  background-color: #008080;
  color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-card .text-container p {
  text-align: center;
}

.testimonial-card .text-container .name {
  font-weight: bold;
}

.testimonial-card .text-container .location {
  color: #cccccc;
}

.testimonial-section {
  position: relative;
  padding-inline: 10vw;
  margin: 0 auto;
}
.blogSection {
  padding-inline: 10vw;
  display: flex;
}
.blogContainer {
  padding: 10vw;
  text-align: center;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  background-color: #e8a634 !important;
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 8px;
}

.blogGrid {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.blogCard {
  background: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
  width: 350px;
  /* padding: 15px; */
  text-align: left;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blogImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.date {
  color: #d09423;
  font-weight: bold;
}
.author {
  font-weight: bold;
}
.blogTitle,
.blogPara {
  padding-inline: 15px;
}
