.checkoutHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #2d5356;
}

.checkoutHeader h2 {
  color: #ffffff;
}

.checkoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 10vw;
  margin-top: 8vh;
}

.formContainer {
  flex: 1;
  margin-right: 20px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.orderSummary {
  width: 20vw;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textField {
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.row .textField {
  flex: 1;
}

.confirmButton {
  background-color: #d19a2e !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 14px !important;
  border-radius: 25px !important;
  cursor: pointer !important;
  transition: background 0.3s ease !important;
  align-self: center !important;
  margin-block: 20px !important;
}

.confirmButton:hover {
  background-color: #b88325;
}
