.newsletterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  margin: 40px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-inline: 10vw;
  flex-wrap: wrap;
}

.newsletterContent {
  flex: 1;
  min-width: 300px;
  padding: 30px;
}

.newsletterTitle {
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 1.3;
}

.newsletterText {
  font-size: 16px;
  color: #555;
  margin: 10px 0 20px;
  line-height: 1.5;
}

.newsletterInputContainer {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.newsletterInput {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
  border-radius: 25px;
}

.newsletterButton {
  background-color: #d19a2e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.newsletterButton:hover {
  background-color: #b88325;
}

.newsletterImage {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.newsletterImage img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .newsletterContainer {
    margin-inline: 5vw;
  }
}

@media (max-width: 992px) {
  .newsletterContent {
    padding: 30px 20px;
  }

  .newsletterTitle {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .newsletterContainer {
    flex-direction: column;
    margin-inline: 20px;
  }

  .newsletterContent {
    /* width: 100%; */
    padding: 30px;
    order: 1;
  }

  .newsletterImage {
    /* width: 100%; */
    order: 2;
    padding: 0 30px 30px;
  }

  .newsletterInputContainer {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .newsletterContainer {
    margin: 20px 10px;
    border-radius: 8px;
  }

  .newsletterContent {
    padding: 20px;
  }

  .newsletterTitle {
    font-size: 22px;
  }

  .newsletterText {
    font-size: 15px;
  }

  .newsletterInputContainer {
    flex-direction: column;
    background: transparent;
    box-shadow: none;
    gap: 10px;
  }

  .newsletterInput {
    width: 90%;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .newsletterButton {
    width: 100%;
  }

  .newsletterImage {
    padding: 0 20px 20px;
  }
}
.errorText {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  text-align: left;
  width: 100%;
}
