.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #ffffff;
    padding-inline: 10vw;
  }
  
  .contactHeader {
    /* text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #f36e0d;
    margin-bottom: 20px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #2d5356;
  }
  .contactHeader h2{
      color: #ffffff;
  }