.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  background-color: #ffffff;
  padding-inline: 10vw;
}

.aboutHeader {
  /* text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #f36e0d;
    margin-bottom: 20px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #2d5356;
}
.aboutHeader h2 {
  color: #ffffff;
}
.aboutText {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  padding-inline: 10vw;
}
.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: auto;
  border-radius: 25px; 
}
